@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --text: #131c0c;
    --background: #fafdf9;
    --primary: #7ec050;
    --secondary: #b6de9a;
    --accent: #9bd572;
  }
  .dark {
    --text: #eaf3e2;
    --background: #040803;
    --primary: #6eb040;
    --secondary: #3d6420;
    --accent: #548d2a;
  }
}


 .loader-container {
  width: 90%;
  height: 2rem;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.loader {
  display: flex;
  width: 200%; 
  height: 2rem;
  animation: slide 2s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
}

.item {
  flex: 0 0 auto;
  width: 10rem; 
  line-height: 2rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 0.25rem;
}

@keyframes slide {
  0% {
   translate: 0%;
  }
  100% {
    translate: -100%;
  }
}

.radial-bg {
  background: radial-gradient(
    circle at bottom,
    var(--secondary) 5%,
    transparent 50%
  );
}


